@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}
